<style>
    .message {
        color: yellow;
        font-weight: bold;
        text-align: center;
        background-color: black;
        border: 3px solid black;
        border-radius: 5px;
    }
</style>

<h1 class='message'>This section is currently under construction!</h1>